@import '~/styles/base/colors';
@import '~/styles/base/breakpoints';

.option {
  font-size: 1.1em;
  color: $white;
  background-color: $brown-200;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  padding: 15px;
  width: 100%;
  border: 1px solid $brown-300;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;

  &:hover {
    border-color: $brown-200;
  }
}

.active {
  border: 1px solid $brown-200;
}

@media screen and (min-width: map-get($breakpoints, 'md')) {
  .option {
    padding: 20px;
    font-size: 1.2em;
  }
}